.contact-form{
    position: relative;
    width: 40vw;
    margin: auto;
    height: 60vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.363),rgba(128, 128, 128, 0.418)), url("../Flower-Asset/pexels-roon-z-1083895.jpg");
    background-size: cover;
    top: 15%;
    border-radius: 5px;
    box-shadow: 2px 2px 8px 1px;
}
form{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 35vw;
    margin: auto;
}
form input{
    width: 212px;
    padding: 8px 12px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    margin: 15px 0;
    color: rgb(255, 255, 255);
}
form textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 480px;
    height: 30px;
    margin: 40px 0 30px 0;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
form input::placeholder{
    color: white;
}
form .btn{
    border: none;

}
form .btn:hover{
    background-color: #e55473a8;
    border: none;
}
form p{
    color: rgba(255, 255, 255, 0.685);
}
form a{
    color: rgba(255, 255, 255, 0.623);
    text-decoration: none;
    margin: 5px 0;
}
form h1{
    color: rgba(255, 255, 255, 0.856);
    padding: 25px 0;
    text-align: center;
}
